@import url(https://fonts.googleapis.com/css?family=Helvetica);
*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	font-family:Calibri;
	color:white;
}

body{
	
	background-image:url(https://i.pinimg.com/originals/53/7b/65/537b65d3b70ee8a0092bbd81b9448844.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment: fixed;
}
#meni{
	width:100%;
	height:7%;
	background:transparent;
	box-shadow:inset  0 0 0 3000px rgba(255,255,255,0.3);
	overflow:hidden;
	border-bottom:1px solid IndianRed;
}
@media only screen and (max-width:700px){
	#meni{
		height:12%;
	}
}

#meni ul{
	list-style-type:none;
	height:100%;
	width:80%;

}


#logo{
	width:auto;
	height:100%;
	vertical-align:middle;
}
@media only screen and (max-width:700px){
	#logo{
		float:left;
	}
}

#meni ul li{
	display:inline;
		
}
@media only screen and (max-width:700px){
	#meni ul li{
		display:block;
		
	}
}
#li1, #li2, #liOdjava{
	padding-left:2%;
	padding-right:2%;
	padding:2%;
	border-right:1px solid IndianRed;
}
@media only screen and (max-width:700px){
	#li1, #li2, #liOdjava{
		border-right:none;
	}
}
#meni ul li a{
	
	text-decoration:none;
}
#li1:hover, #li2:hover, #liOdjava:hover{
	opacity:0.6;
}
