
#centar{
	width: 50%;
    height: 70%;
	top:0;
    bottom: 0;
    left: 0;
    right: 0;
	box-shadow:inset 0 0 0 3000px rgba(254, 254, 254, 0.3);
    margin: auto;
	position:absolute;
    background:transparent;
	border:1px solid gray;
	border-radius:25px;
	overflow:auto;

    
}
@media only screen and (max-width: 700px)
{
	#centar{
		width:70%;
		height:70%;
	}
}
#Login{
	float:left;
	height:100%;
	width:50%;
	padding:5%;
	padding-top:13%;
}
@media only screen and (max-width: 700px){
	#Login{
		height:auto;
		width:100%;
		margin-top:15%;
		padding:5%;
		margin-bottom:15%;
		float:none;
	}
}
#Register{
	float:right;
	height:100%;
	width:50%;
	padding:5%;
	border: none;
	border-left: 1px solid white;
}
@media only screen and (max-width: 700px){
	#Register{
		width:100%;
		height:auto;
		float:none;
		padding-top:15%;
		padding-bottom:15%;
		border-left:none;
		border-top:1px solid white;
	}

}

	input[type=text] {
		width: 70%;
		padding: 2%;
		margin-top:5%;
		margin-bottom:5%;
		margin-right: 12%;
		margin-left:12%;
		border: none;
		border-bottom: 1px solid white;
		color:white;
		background-color:transparent;
		
	}
	input[type=email] {
		width: 70%;
		padding: 2%;
		margin-top:5%;
		margin-bottom:5%;
		margin-right: 12%;
		margin-left:12%;
		border: none;
		border-bottom: 1px solid white;
		color:white;
		background-color:transparent;
		
	}
	input[type=password] {
		width: 70%;
		padding: 2%;
		margin-top:5%;
		margin-bottom:5%;
		margin-right: 12%;
		margin-left:12%;
		border: none;
		border-bottom: 1px solid white;
		color:white;
		background-color:transparent;
		
	}
	input[type=submit]{
		background-color:#07889B;
		width:70%;
		border:none;
		margin-top:5%;
		margin-bottom:5%;
		margin-right: 12%;
		margin-left:12%;
			padding: 2%;
			color:white;
			
	}
	
	.RegisterGrupa {
		background-color: rgba(255,255,255,.5);
		border:none;
		width: 70%;
		color:white;
		padding: 2%;
		margin-top:5%;
		margin-bottom:5%;
		margin-right: 12%;
		margin-left:12%;
		background-color:IndianRed;
		
	}
	
	select option {
    background-color: IndianRed; 
	}

/*Mijenjam boju placeholdera u input-u*/	
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    white;
}
