

#kontejner{
	display:grid;
	grid-template-rows: 50% 80%;
	grid-template-columns:100%;
	grid-template-areas:"a"
	"b";
	margin-right:15%;
	margin-left:15%;
	margin-top:7%;
	margin-bottom:15%;
    background:transparent;
    box-shadow:inset  0 0 0 3000px rgba(255,255,255,0.3);
	/*border:1px solid Gray;*/
	
	}
@media only screen and (max-width:700px){
	#kontejner{
		
		margin-left:10%;
		margin-right:10%;
	}
}
	#gornjiKontejner{
		grid-area: a;
		display:grid;
		grid-template-rows:15% 15% 70%;
		grid-template-columns:30% 70%;
		grid-template-areas:
		"a a"
		"b b"
		"c d";
	}
	@media only screen and (max-width:700px){
		#gornjiKontejner{
			grid-template-rows: 15% 15% 20% 50%;
			grid-template-columns:100%;
			grid-template-areas:"a" 
			"b"
			"c"
			"d";
		}
		
	}
		#naslov{
			grid-area: a;
			padding:1%;
			padding-left:2%;
			
			background-color:IndianRed;
			opacity:0.9;
		}
		#podnaslov{
			grid-area: b;
			padding:1%;
			padding-left:2%;
			display:grid;
			grid-template-rows:100%;
			grid-template-columns:50% 50%;
			grid-template-areas:"a b";
			border-top:1px solid white;
			/*border-bottom:1px solid white;*/
			background-color:IndianRed;
			opacity:0.8;
		}
			#lijeviPodnaslov{
				grid-area: a;
				text-align:left;
			}
			#desniPodnaslov{
				grid-area: b;
				text-align:right;
				padding-right:10%;
			}
		#lijeviInformacije{
			grid-area: c;
			padding:2%;
			padding-top:5%;
			/*border-bottom:1px solid white;*/
			border-right:1px solid white;
			opacity:0.8;
		}
		@media only screen and (max-width:700px){
			#lijeviInformacije{
				border-right:none;
			}
		}
			#brIndexa{
				padding:2%;
			}
			#linkRepozitorij{
				padding:2%;
			}
			#prvaParc{
				padding:2%;
			}
			#drugaParc{
				padding:2%;
			}
		#desniInformacije{
			grid-area: d;
			text-align:center;
			overflow:hidden;
			opacity:0.8;
		}
	
	#donjiKontejner{
		grid-area:b;
		display:grid;
		grid-template-rows: 10% 15% 60% 15%;
		grid-template-columns:100%;
		grid-template-areas:
		"a"
		"b"
		"c"
		"d";
		text-align:center;
	}
		#donjiNaslov{
			grid-area: a;
			text-align:center;
			padding:1%;
			background-color:IndianRed;
			opacity:0.9;
		}
		#donjiPodnaslov{
			grid-area:b;
			margin:3%;
			padding:1%;
			text-align:center;
			background-color:IndianRed;
			opacity:0.8;
		}
		
		#donjiKomentari{
			grid-area: c;
			margin-left:5%;
			margin-right:5%;
			display:grid;
			grid-template-rows:50% 50%;
			grid-template-columns:33% 33% 33%;
			grid-template-areas:
			"a  b  c"
			"d  e  none";
		}
		@media only screen and (max-width:700px){
			#donjiKomentari{
			grid-template-rows:20% 20% 20% 20% 20%;
			grid-template-columns:100%;
			grid-template-areas:
			"a" "b" "c" "d" "e";
			}
		
		}
			#donjiKomentari div{
				margin:2%;
				padding-bottom:30%;
				padding-top:30%;
				padding-left:2%;
				padding-right:2%;
				text-align:center;
				background-color:IndianRed;
				opacity:0.6;
				height:200px;
				overflow:auto;
			}
			
			#donjiKomentari div:hover{
				opacity:0.9;
			}
			#komentar1{
				grid-area:a;
			}
			#komentar2{
				grid-area:b;
			}
			#komentar3{
				grid-area:c;
			}
			#komentar4{
				grid-area:d;
			}
			#komentar5{
				grid-area:e;
			}
	#promjenaStranica{
		grid-area: d;
	}
	

		#listaButtona{
			margin:auto;
			padding:5%;
			
		}	
		#listaButtona li{
			display:inline;
			
		}
		#listaButtona button{
			background-color:IndianRed;
			box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
			padding:1%;
			opacity:0.8;
			border:none;
			
		}

a {
	text-decoration:none
}


table{
	padding:2%;
	text-align:center;
	width:80%;
	border:1px solid white;
	margin:auto;
	margin-bottom:5%;
	margin-top:5%;
	border-collapse: collapse;
	
}
	table, th, td{
		border:1px solid white;
	}
	table th, td:nth-child(1){
		background-color:IndianRed;
	}
	.prvaKolona{
		background-color:IndianRed
	}
	


		
