
#kontejner{
	margin-right:15%;
	margin-left:15%;
	margin-bottom:10%;
	display:grid;
	grid-template-rows:30% 70%;
	grid-template-columns:100%;
	grid-template-areas: 
	"a"
	"b";
	grid-row-gap:5%;
	margin-top:5%;
	background:transparent;
    box-shadow:inset  0 0 0 3000px rgba(255,255,255,0.3);
	text-align:center;
	
}
@media only screen and (max-width:700px){
	#kontejner{
		margin-right:5%;
		margin-left:5%;
	}
}
	#kontejnerGornji{
		grid-area:a;
		display:grid;
		grid-template-rows:100%;
		grid-template-columns:25% 25% 25% 25%;
		grid-template-areas:"a b c d";
		margin:auto;
		margin-top: 15%;
	}
		#spirala1{
			grid-area:a;
		}
		#spirala2{
			grid-area:b;
		}
		#spirala3{
			grid-area:c;
		}
		#spirala4{
			grid-area:d;
		}
	#kontejnerDonji{
		grid-area:b;
		margin-top:5%;
		margin-bottom:10%;
		padding:3%;
		overflow:hidden;	
	}
		#tabela{
			margin:5%;
			margin-top:3%;
			width:90%;
			border-spacing:0 0;
			table-layout:fixed;
		}
			#tabela td{

				padding:2%;
				background-color:#d57676;
				border-bottom:1px solid IndianRed;
				opacity:0.8;
				text-align:center;
				word-wrap:break-word;
			}
			#tabela th{
				background-color:IndianRed;
				padding:2%;
				opacity:0.8;
				text-align:center;
				word-wrap:break-word;
				}
	
button{
	border:none;
	background-color:#07889B;
	padding:1%;
	padding-left:3%;
	padding-right:3%;
	width:20%;
	margin:2%;
	margin-top:7%;
	opacity:0.8;
}
	
input[type=number]{
	border: none;
	width:70%;
	border-bottom: 1px solid white;
	color:white;
	background-color:transparent;
}
textarea{
	width:100%;
	background-color:IndianRed;
}

